<div *ngFor="let items of dataArray;let i=index">
    <div class="d-flex justify-content-center" style="margin-top: 10px;margin-bottom: 10px;color: beige;">
        <div class="card w-75">
            <div class="card">
                <div class="card-body">
                    <div class="row gx-5">
                        <div class="col-9">
                            <input class="input-hover" type="text" id="fname" name="fname"
                                placeholder="Untitled Question" [(ngModel)]="items.question">
                        </div>
                        <div class="col-3">
                            <select class="form-select" (change)="inputSelection(items)" [(ngModel)]="items.type">
                                <option *ngFor="let item of dropDown" value="{{item}}">{{item}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- TEXT BOX -->
                <div class="row gx-5" *ngIf="items.type=='Text Area'">
                    <div class="col-12">
                        <input class="answerFiled" type="text" placeholder="Answer Field" [(ngModel)]="items.answer">
                    </div>
                </div>


                <!-- RADIO BUTTON -->
                <div style="padding: 20px;" *ngIf="items.type=='RadioButton';let variable;">
                    <div *ngFor="let item of items.radioptions;let index=index">
                        <div class="container">
                            <div class="row" style="width: 50%;">
                                <div class="col-1">
                                    <div class="form-check form-check-inline" style="margin-top: 20px;">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                            id="inlineRadio1" value="option1">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <input class="answerFiled" type="text" placeholder="Answer Field"
                                        [(ngModel)]="items.radioptions[index].value">
                                </div>
                                <div class="col-4" style="margin-top: 20px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-x-circle" viewBox="0 0 16 16">
                                        <path
                                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                        <path
                                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                    </svg>
                                </div>

                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="form-check form-check-inline" style="margin-left: 15px;">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" checked
                            value="option1">
                        <button type="button" class="btn btn-link" (click)="addOption(items)">Add Another</button>
                    </div>
                    <br>
                </div>


                <!-- CHECK BOX -->
                <div class="row gx-5" *ngIf="items.type=='checkBox'">
                    <div class="container" *ngFor="let item of items.checkBoxOption;let index=index">
                        <div class="row" style="width: 50%;">
                            <div class="col-1">
                                <div class="form-check" style="margin-top: 10px;margin-left: 10px;">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                </div>
                            </div>
                            <div class="col-6">
                                <input class="answerFiled" type="text" placeholder="Answer Field"
                                    [(ngModel)]="items.checkBoxOption[index].value">
                            </div>
                            <div class="col-4" style="margin-top: 20px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-x-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path
                                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left: 10px;margin-top: 10px;">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <button type="button" class="btn btn-link" (click)="addCheck(items)">Add Another</button>
                    </div>
                </div>
               
            </div>
        </div>

    </div>


</div>
<div class="d-flex justify-content-center" (dblclick)="test()">
    <div class="card w-75" style="background-color: azure;">
        <div class="card">
            <div class="card-body" style="display: flex;justify-content: center;cursor: pointer;">
                <h1 (click)="cardAdd()">ADD</h1>
            </div>
        </div>
    </div>
</div>


