<div  class="grid-2">
    <div id="map" class="map" #mapElement>
        <!-- <div id="marker-layer" class="marker-layer"></div> -->
    </div>
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
    </div>
</div>

<div *ngIf=false    class="modal-dialog">
    <div class="modal-content" style="width: 55%;">
        <div class="modal-header">
            <h4>Application Registration</h4>
        </div>
        <div id="map" class="map" #mapElement>
    </div>
</div>